<!doctype html>
<html lang="en">
    <head>
        <title>Url Shortener Microservice</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1 class="header">
                Url Shortener Microservice
            </h1>
            <h3>Example usage:</h3>
            <code>https://api-projects-backend-benobab.c9users.io/http://www.google.com/</code><br>
            <code>https://api-projects-backend-benobab.c9users.io/12</code>
            <h3>Example output:</h3>
            <code>
            {
                "original_link":"http://www.google.com",
                "shortened_link":"https://api-projects-backend-benobab.c9users.io/44"
            }
            </code>
        </div>
    </body>
</html>